.card {
  margin-top: 25vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card .card-block #getQuoteButton {
  float: left;
}

.card .card-block #tweetButton {
  float: right;
}
.card .card-block #input {
  border: 0;
}
.card .card-block #input:focus {
  border:0;
}
